{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}{{ object }}{% endblock %}

{% block main %}
  <section class="intro">
    <h1>{{ object }}</h1>
    <p>
      There are {{ stations.count }} {{ object.type }} stations in {{ object }}:
    </p>
    <ul>
      {% for station in stations %}
        <li>
          {{ station.name }} <em>Capacity: ({{ station.capacity }})</em>
        </li>
      {% endfor %}
    </ul>
    <p>
      Last updated {{ stations.0.updated_at }} UTC.
    </p>
  </section>

  <div id="map"></div>
  <script>
    var station_data = {{ station_json|safe }};
  </script>
{% endblock %}

{% block extra_script %}{{ block.super }}
  <script src={% static 'js/bikeme.js' %}></script>
{% endblock %}
