.axis
  path, line
    fill: none
    stroke: black
    shape-rendering: crispEdges

.line
  fill: none
  &.recent
    stroke: black
    stroke-width: 3px
  &.yesterday
    stroke: gray
    stroke-width: 1.5px
line.now
  stroke: cornflowerblue
  stroke-width: 1px
