$recent: dodgerblue
$yesterday: peru

.axis
  path, line
    fill: none
    stroke: black
    shape-rendering: crispEdges

.line
  fill: none
  &.recent
    stroke: $recent
    stroke-width: 2px
  &.yesterday
    stroke: $yesterday
    stroke-width: 1.5px

.area
  &.yesterday
    fill: rgba($yesterday, 0.15)
  &.recent
    fill: rgba($recent, 0.15)


line.now
  stroke: cornflowerblue
  stroke-width: 1px
