@import "compass/css3/border-radius"

$empty-color: gainsboro
$full-color: red
$background-color: aliceblue
$foreground-color: orange


.filled-marker
  +border-radius(3px)
  background: $foreground-color
  border: 2px solid cornflowerblue
  color: transparent
  height: 14px
  width: 10px
  > *
    background: $background-color
  .filled-0
    background: $empty-color
    height: 100%
  .filled-1
    height: 90%
  .filled-2
    height: 80%
  .filled-3
    height: 70%
  .filled-4
    height: 60%
  .filled-5
    height: 50%
  .filled-6
    height: 40%
  .filled-7
    height: 30%
  .filled-8
    height: 20%
  .filled-9
    height: 10%
  .filled-10
    background: $full-color
    height: 100%
