.filled-marker
  background: red
  border: 2px solid blue
  color: transparent
  height: 14px
  width: 10px
  > *
    background: white
  .filled-0
    height: 99%
  .filled-1
    height: 90%
  .filled-2
    height: 80%
  .filled-3
    height: 70%
  .filled-4
    height: 60%
  .filled-5
    height: 50%
  .filled-6
    height: 40%
  .filled-7
    height: 30%
  .filled-8
    height: 20%
  .filled-9
    height: 10%
  .filled-10
    height: 0%
