{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block head_title %}{% endblock %}</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">
  <link rel="stylesheet" href="{% static 'css/bikeme.css' %}">
  <style>
    .active { color: blue; }
    .fa { width: 1.5em; }
    #map {
      height: 600px;
    }
  </style>
</head>
<body>
  {% block body %}{% block main %}{% endblock %}{% endblock %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  {% block extra_script %}{% endblock %}
</body>
</html>
